@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border: 1px solid #eaedf3;
  box-shadow: 3px 3px 20px #eaedf3;
  .logo-container {
    width: 140px;
    position: relative;
    p {
      font-weight: 700;
      font-size: 40px;
      font-family: Aladin;
      font-style: italic;
      background: -webkit-linear-gradient(62deg, #000000 24%, #959138 65%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      position: absolute;
      top: -9px;
      left: 8px;
      transform: rotate(32deg);
    }
  }
  .nav-item ul {
    display: flex;
    list-style-type: none;
  }
  .nav-item ul li {
    margin-left: 20px;
    font-weight: 500;
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 20px;
  .res-card {
    border-radius: 4px;
    height: 350px;
    width: 270px;
    padding: 10px;
    transition: all 0.3s;
    &:hover {
      transform: scale(0.95);
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 3px 3px 20px #eaedf3;
    }
    .res-logo {
      img {
        border-radius: 10px;
        height: 170px;
        width: 250px;
        object-fit: cover;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    h4:nth-child(4) {
      font-size: 16px;
      font-weight: 200;
    }
    .rating {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        height: 5px;
        width: 5px;
        background-color: #000000;
        border-radius: 50%;
      }
      h4:nth-child(2),
      h4:nth-child(4) {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}
