@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="light"] {
  --background-color: linear-gradient(15deg, rgba(255, 254, 254, 1) 0%, rgba(255, 247, 242, 1) 54%, rgba(254, 237, 222, 1) 100%);
  --header-background: linear-gradient(15deg, rgba(255, 254, 254, 1) 0%, rgba(255, 247, 242, 1) 54%, rgba(254, 237, 222, 1) 100%);
  --shimmer-background-primary: #f6f6f6;
  --shimmer-background-secondary: #f0f0f0;
  --foreground-color: hsl(27, 97%, 58%);
  --bage-color: #a19d9d;
  --paragraph-color: rgba(2, 6, 12, 0.6);
  --primary-text-color: #0d0d0d;
  --secondary-text-color: #ffffff;
  --border-bottom: #eaedf3;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --secondary: hsl(27, 97%, 45%);
  --darkPrimary: hsl(27, 97%, 53%);
  --price-bg: hsl(15, 75%, 93%);
}

body[data-theme="dark"] {
  --header-background: linear-gradient(15deg, rgba(14, 14, 13, 1) 0%, rgba(41, 29, 23, 1) 54%, rgba(61, 46, 32, 1) 100%);
  --shimmer-background-primary: #7c7c7c;
  --shimmer-background-secondary: #b7b0b08b;
  --paragraph-color: rgba(255, 255, 255, 0.756);
  --bage-color: #eae8e8;
  --background-color: linear-gradient(15deg, rgba(14, 14, 13, 1) 0%, rgba(41, 29, 23, 1) 54%, rgba(61, 46, 32, 1) 100%);
  --foreground-color: hsl(27, 97%, 58%);
  --primary-text-color: #d8d9d9;
  --secondary-text-color: #0a0a0a;
  --border-bottom: #eaedf349;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --price-bg: hsl(15, 75%, 28%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(27, 97%, 95%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, hsl(27, 97%, 63%) 0%, hsl(27, 97%, 78%) 50%, #ffd000 100%);
  border-radius: 5px;
}


.about-container {
  margin-top: 67px;
  background: var(--background-color);

  h1 {
    color: var(--primary-text-color);
  }

  .user-info-container {

    p,
    h2,
    li {
      color: var(--primary-text-color);
    }
  }
}

.grocery-container {
  margin-top: 67px;

  background: var(--background-color);

  h2 {
    color: var(--primary-text-color);
  }
}

.contact-contaienr {
  background: var(--background-color);

  h1 {
    color: var(--primary-text-color);
  }
}