.footer {
  margin-top: 20px;
  background-color: var(--footer-background);
  color: var(--primary-text-color);
  padding: 50px 10px;

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;

    // Individual sections within the footer
    > div {
      padding: 10px 20px;

      .social-logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 18px;

        img:hover {
          transform: scale(1.2);
        }
      }

      h3 {
        color: var(--heading-text);
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 14px;
          cursor: pointer;
          margin-bottom: 0.5rem;

          &:hover {
            color: var(--heading-text);
          }
        }
      }

      .mail {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;

        input[type="text"] {
          width: clamp(10rem, 26vw, 15rem);
        }

        input[type="text"],
        button {
          // height: 50px;
          background-color: #252525;
          padding: 0.5rem 1rem;
          margin-bottom: 0.5rem;
          border: none;
          outline: none;
          border-radius: 100px;
          font-size: 1rem;
          cursor: pointer;
        }

        button {
          background-color: var(--button-color);

          &:hover {
            background-color: var(--button-hover);
          }
        }
      }
    }

    > div:nth-child(1) {
      width: 325px;
    }

    > div:nth-child(2),
    > div:nth-child(3) {
      width: 150px;
    }

    > div:nth-child(4) {
      width: 379px;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .mail {
    grid-template-columns: 1fr 1fr !important;

    input[type="text"],
    button {
      padding: 0.6rem 0.7rem !important;
      font-size: 0.8rem !important;
    }

    button {
      font-size: 0.6rem !important;
    }
  }
}
