.lost-internet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-color);
  padding: 2rem;
  margin: 0 auto;
  color: var(--primary-text-color);

  img {
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }
}
