@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --header-background: #ffffff;
  --shimmer-background-primary: #f6f6f6;
  --shimmer-background-secondary: #f0f0f0;
  --foreground-color: hsl(27, 97%, 58%);
  --bage-color: #a19d9d;
  --paragraph-color: rgba(2, 6, 12, 0.6);
  --primary-text-color: #0d0d0d;
  --secondary-text-color: #ffffff;
  --border-bottom: #eaedf3;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --secondary: hsl(27, 97%, 45%);
  --darkPrimary: hsl(27, 97%, 53%);
}

[data-theme="dark"] {
  --header-background: #020d19;
  --shimmer-background-primary: #7c7c7c;
  --shimmer-background-secondary: #c9c7c78b;
  --paragraph-color: rgba(255, 255, 255, 0.756);
  --bage-color: #eae8e8;
  --background-color: #15161c;
  --foreground-color: hsl(27, 97%, 58%);
  --primary-text-color: #d8d9d9;
  --secondary-text-color: #0a0a0a;
  --border-bottom: #eaedf349;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 0.5px solid var(--border-bottom);
  background-color: var(--header-background);
  box-shadow: 3px 3px 20px #eaedf3;

  .logo-container {
    width: 140px;

    img {
      height: 50px;
      width: 160px;
    }
  }

  .nav-item {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin-right: 3rem;

      li {
        margin-left: 20px;
        font-weight: 500;
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--primary-text-color);

          &:hover {
            color: var(--foreground-color);
          }
        }

        .active {
          color: var(--foreground-color);
        }
      }

      .login-btn {
        background-color: var(--foreground-color);
        border: 1px solid var(--secondary);
        color: var(--secondary-text-color);
        font-weight: 500;
        margin-left: 20px;
        padding: 5px 0;
        width: 70px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--darkPrimary);
        }
      }
    }
  }
}

.body {
  background-color: var(--background-color);
  padding: 20px 0;

  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .search {
      display: flex;
      gap: 15px;

      button {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 8px;
        font-weight: 500;
        border: 1px solid var(--border-bottom);
        color: var(--secondary-text-color);
        background-color: var(--foreground-color);

        &:hover {
          background-color: var(--darkPrimary);
        }
      }

      .search-box {
        width: 300px;
        border-radius: 8px;
        padding: 6px;
        outline: none;
        border: 1px solid var(--border-bottom);
      }
    }

    .filter-btn {
      cursor: pointer;
      padding: 6px 10px;
      border-radius: 8px;
      font-weight: 500;
      border: 1px solid var(--border-bottom);
      color: var(--secondary-text-color);
      background-color: var(--foreground-color);

      &:hover {
        background-color: var(--darkPrimary);
      }
    }
  }
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 50px;

  a {
    list-style: none;
    text-decoration: none;
    color: var(--primary-text-color);

    .res-card {
      border-radius: 4px;
      height: 325px;
      width: 270px;
      padding: 10px;
      transition: all 0.3s;

      &:hover {
        transform: scale(0.95);
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 3px 3px 20px #eaedf3;
      }

      .res-logo {
        margin-bottom: 1rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30%;
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 100%
          );
          border-radius: 0 0 10px 10px;
        }

        p {
          color: #ffffffdc;
          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 8%;
          font-weight: 800;
          font-size: 20px;
        }
        img {
          border-radius: 10px;
          height: 170px;
          width: 250px;
          object-fit: cover;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      P:nth-child(4),
      p:nth-child(5) {
        color: var(--paragraph-color);
        font-size: 16px;
        font-weight: 200;
        line-height: 19px;
        margin-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          height: 5px;
          width: 5px;
          background-color: var(--primary-text-color);
          border-radius: 50%;
        }

        h4:nth-child(2),
        h4:nth-child(4) {
          font-size: 17px;
          font-weight: 500;
        }

        img {
          padding-bottom: 3px;
        }
      }
    }
  }
}
.top-rated {
  position: relative;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79a70a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 60px 50px;
  background-color: var(--background-color);

  .shimmer-cards {
    .shimmer {
      background: linear-gradient(
        to right,
        var(--shimmer-background-primary) 8%,
        var(--shimmer-background-secondary) 18%,
        var(--shimmer-background-primary) 33%
      );
      background-size: 1000px 100%;
      animation: shimmer 2.2s linear infinite forwards;
    }

    .shimmer-title {
      width: 15rem;
    }
  }
}

.about-container {
  background-color: var(--background-color);

  h1 {
    color: var(--primary-text-color);
  }

  .user-info-container {
    p,
    h2,
    li {
      color: var(--primary-text-color);
    }
  }
}

.grocery-container {
  background-color: var(--background-color);

  h2 {
    color: var(--primary-text-color);
  }
}

.contact-contaienr {
  background-color: var(--background-color);

  h1 {
    color: var(--primary-text-color);
  }
}
