@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

:root {
  --shimmer-background-primary: #7c7c7c;
  --shimmer-background-secondary: #c9c7c78b;
  --background-color: #15161c;
  --foreground-color: hsl(27, 97%, 58%);
  --primary-text-color: #d8d9d9;
  --secondary-text-color: #0a0a0a;
  --border-bottom: #eaedf349;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

[data-theme="dark"] {

  --background-color: #ffffff;
  --shimmer-background-primary: #f6f6f6;
  --shimmer-background-secondary: #f0f0f0;
  --foreground-color: hsl(27, 97%, 58%);
  --primary-text-color: #0d0d0d;
  --secondary-text-color: #ffffff;
  --border-bottom: #eaedf3;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --secondary: hsl(27, 97%, 45%);
  --darkPrimary: hsl(27, 97%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 0.5px solid var(--border-bottom);
  background-color: var(--background-color);
  box-shadow: 3px 3px 20px #eaedf3;

  .logo-container {
    width: 140px;

    img {
      height: 50px;
      width: 160px;
    }
  }

  .nav-item {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin-right: 3rem;

      li {
        margin-left: 20px;
        font-weight: 500;
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--primary-text-color);

          &:hover {
            color: var(--foreground-color);

          }
        }

        .active {
          color: var(--foreground-color);
        }
      }

      .login-btn {
        background-color: var(--foreground-color);
        border: 1px solid var(--secondary);
        color: var(--secondary-text-color);
        font-weight: 500;
        margin-left: 20px;
        padding: 5px 0;
        width: 70px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--darkPrimary);

        }
      }
    }
  }

}

.body {
  background-color: var(--background-color);
  padding: 20px 0;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 50px;

  a {
    list-style: none;
    text-decoration: none;
    color: var(--primary-text-color);

    .res-card {
      border-radius: 4px;
      height: 325px;
      width: 270px;
      padding: 10px;
      transition: all 0.3s;

      &:hover {
        transform: scale(0.95);
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 3px 3px 20px #eaedf3;
      }

      .res-logo {
        img {
          border-radius: 10px;
          height: 170px;
          width: 250px;
          object-fit: cover;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      h4:nth-child(4) {
        font-size: 16px;
        font-weight: 200;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          height: 5px;
          width: 5px;
          background-color: var(--primary-text-color);
          border-radius: 50%;
        }

        h4:nth-child(2),
        h4:nth-child(4) {
          font-size: 17px;
          font-weight: 500;
        }

        img {
          padding-bottom: 3px;
        }
      }
    }
  }
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 60px 50px;
  background-color: var(--background-color);

  .shimmer-cards {

    .shimmer {
      background: linear-gradient(to right, var(--shimmer-background-primary) 8%, var(--shimmer-background-secondary) 18%, var(--shimmer-background-primary) 33%);
      background-size: 1000px 100%;
      animation: shimmer 2.2s linear infinite forwards;
    }

    .shimmer-title {
      width: 15rem;
    }
  }
}

.about-container {
  background-color: var(--background-color);

  h1 {
    color: var(--primary-text-color);
  }

  .user-info-container {

    p,
    h2,
    li {
      color: var(--primary-text-color);

    }
  }
}

.grocery-container {
  background-color: var(--background-color);

  h2 {
    color: var(--primary-text-color);

  }

}

.contact-contaienr {
  background-color: var(--background-color);

  h1 {
    color: var(--primary-text-color);

  }
}