@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

:root {
  --primary: hsl(36, 98%, 51%);
  --secondary: hsl(40, 67%, 28%);
  --darkPrimary: hsl(36, 91%, 49%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border: 1px solid #eaedf3;
  box-shadow: 3px 3px 20px #eaedf3;

  .logo-container {
    width: 140px;

    img {
      height: 50px;
      width: 160px;
    }
  }

  .nav-item {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;

      li {
        margin-left: 20px;
        font-weight: 500;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #000000;

          &:hover {
            color: var(--primary);

          }
        }
      }

      .login-btn {
        background-color: var(--primary);
        border: 1px solid var(--secondary);
        color: #fff;
        font-weight: 500;
        margin-left: 20px;
        padding: 5px 0;
        width: 70px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--darkPrimary);

        }
      }
    }
  }

}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 50px;

  a {
    list-style: none;
    text-decoration: none;
    color: #000;

    .res-card {
      border-radius: 4px;
      height: 350px;
      width: 270px;
      padding: 10px;
      transition: all 0.3s;

      &:hover {
        transform: scale(0.95);
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 3px 3px 20px #eaedf3;
      }

      .res-logo {
        img {
          border-radius: 10px;
          height: 170px;
          width: 250px;
          object-fit: cover;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      h4:nth-child(4) {
        font-size: 16px;
        font-weight: 200;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          height: 5px;
          width: 5px;
          background-color: #000000;
          border-radius: 50%;
        }

        h4:nth-child(2),
        h4:nth-child(4) {
          font-size: 17px;
          font-weight: 500;
        }

        img {
          padding-bottom: 3px;
        }
      }
    }
  }
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 60px 50px;

  .shimmer-cards {
    .shimmer-title {
      width: 15rem;
    }
  }
}